.dashboard {
  width: 100%;
  margin: 7.5% auto;

  .md-layout {
    height: 100%;
    // margin:0 1.5% !important;
    margin: 0 135px !important;
  }

  .dark-card {
    background: $brand-gradient;
    height: 500px;
    margin-bottom: 1%;
    border-radius: $default-border-radius;
    .count-value{
      height: 80%;
      display: flex;
      flex-direction: column;
      h1{
        color: rgba(256, 256, 256, 0.30);
        font-size: 10em;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        width: 100%;
        height: 100%;
      }
      h5{
        text-align: center;
        color: #fff;
        margin-bottom: 100px;
        font-size: 1.7em;
      }
    }

    .duration-select {
      padding: 0 50px;

      .md-field {
        background: rgba(256, 256, 256, 0.30);
        border-radius: $default-border-radius;

        &:before,
        &:after {
          display: none;
        }

        .md-input {
          padding: 0;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          left: 50%;
          text-align: center;
          color: #fff;
          -webkit-text-fill-color: #fff;
        }

        .md-icon {
          display: none;
        }
      }
    }
  }

  &-contact {
    text-align: center;
    width: 100%;
    height: 100%;
    background: #808080;

    form {
      width: 95%;
      height: 100%;
      position: relative;
      left: 3%;

      .md-card {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width:39.95em) {}
