.login-wrapper {

  background-color: $brand-primary;
  width: 100vw;
  height: 100vh;
}

.login {
  width: 40%;
  position: absolute;
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &-card {
    padding: 40px 60px;
    background: #fff;

    h1 {
      text-align: center;
    }
  }

  &-button {
    position: relative;
    left: 0;
    padding: 0;
    margin: 40px 0 0 0 !important;
  }
}
.account-select{
  background: #fff;
  border-radius: $default-border-radius;
  box-shadow: $default-box-shadow;
  padding: 5px;
  margin-bottom: 40px;
  position: relative;
  transition: all 5s ease-in-out;
  &-logo{
    display: inline-block;
  }
  &-title{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 50%;
  }
  &-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    top: 20px;
    i{
      font-size: 20px;
    }
  }
}
@media screen and (max-width:39.95em) {
  .login {
    width: 90%;

    position: absolute;
    top: 25%;
    left: 5%;
  }
}

.account-list{
  position: absolute;
  width: 204px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform-origin: top;
  transition: transform .4s ease-in-out;
  overflow: hidden;
}

.login-illustration{
  position: absolute;
  bottom: 50px;
  right: 50px;
}


.list{
  border-radius: $default-border-radius;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform-origin: top;
  transition: transform .4s ease-in-out;
  overflow: hidden;
  z-index: 999;
  min-height: 228px;
  background: #ffffff;
  li{
    display: inline;
    .account-select{
      margin-bottom: 5px;
    }
  }
}
.slide-enter, .slide-leave-to{
  transform: scaleY(0);
}