.schedule {
    width: 100%;
    margin: 7.5% auto;
  
    .md-layout {
      height: 100%;
      // margin:0 1.5% !important;
      margin: 0 135px !important;
    }
    &-container{
      padding: 50px 100px;
    }
  }
  
  .md-datepicker-dialog{
    background: $brand-tertiary;
    border-radius: $default-border-radius;
    .md-datepicker-panel, .md-datepicker-month .md-datepicker-month-trigger{
      color: #fff;
    }
    .md-datepicker-header{
      background: $brand-gradient;
      color: #fff;
    }
    .md-datepicker-body-content{
      height: auto !important;
      min-height: 240px;
    }
    .md-datepicker-body-header{
      svg path:first-child{
        fill: #fff;
      }
    }
    .md-datepicker-disabled{
      opacity: 0.5;
      cursor: default;
    }
  }

  @media screen and (max-width:39.95em) {}
  