button.md-primary{
    background: $brand-secondary !important;
    height: 50px;
    border-radius: $default-border-radius;
    font-family: 'cartel-sans';
    font-size: 20px;
    color: #fff;
}

.card-button {
    position: relative;
    width: 100%;
    height: 100%;
    .md-button{
        background: rgba(256,256,256,0.30);
        margin: 0;
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        height: 55px;
        .md-button-content{
            color: #fff;
        }
    }
}