.dark-card {
  background: $brand-gradient;
  height: 500px;
  margin-bottom: 1%;
  border-radius: $default-border-radius;

  .md-field {
      color: #fff;
      input{
          color: #fff;
          border-bottom: 1px solid #fff;
      }
      textarea{
          color: #fff;
          border-bottom: 1px solid #fff;
      }
      .md-icon{
          left: -30px;
          svg >path:first-child{
            fill: #fff;
          }
      }
  }
}
