.md-select-menu{
    box-shadow: none !important;
    .md-menu-content-container{
        box-shadow: none !important;
        .md-list{
            background: $brand-light-green;
            box-shadow: none !important;
            // width: 245px;
            margin-top: 30px;
            border-radius: $default-border-radius;
            .md-selected{
                .md-list-item-text{
                    color: #ffffff;
                }
            }
            .md-list-item-text{
                color: rgba(256,256,256,0.50);
                padding: 5px 20px;
                font-size: 18px;
                cursor: pointer;
            }
        }
        .md-menu-content{
            box-shadow: none !important;
        }
    }
}