.tabs{
    li{
        list-style: none;
        display: inline-block;
        padding: 0 50px;
        &.active{
            a{
                opacity: 1;
            }
        }
        a{
            color: $brand-primary;
            text-decoration: none;
            font-size: 24px;
            opacity: 0.5;
        }
    }
}