@font-face {
    font-family: 'cartel-sans';
    src: url('./../fonts/CartelSans-Regular.woff');
}
body{
    font-family: 'cartel-sans';
}
h1, h2, h3{
    font-family: 'cartel-sans';
    text-transform: uppercase;
    color: #707070;
}

$brand-primary: #167D7F;
$brand-secondary: #45E589;
$brand-tertiary: #17b7ba;
$brand-light-green: #86c6c9;

$brand-gradient: linear-gradient(to bottom, $brand-primary 0%, $brand-tertiary 100%);

$default-box-shadow: 0px 3px 6px rgba(0,0,0,0.10);
$default-border-radius: 6px;