body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

body::-webkit-scrollbar-thumb:hover {
  background: #999;
}

div::-webkit-scrollbar {
  width: 10px;
}


/* Track */
div::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1) !important;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.1) !important;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.1) !important;
}


