.blog {
  width: 100%;
  height: 100%;

  .intro {
    width: 100vw;
    height: 100vh;

    &-first {
      width: 50vw;
      height: 100vh;
      text-align: center;

      &-wrapper {
        width: 50%;
        height: 50%;
      }
    }

    &-second {
      width: 50vw;
      height: 100vh;
    }
  }

  .description {
    width: 100vw;
    height: 100vh;
    text-align: center;

    &-first {
      width: 16.5%;
      height: 100vh;
    }

    &-second {
      width: calc(100%-16.5%);
      height: 100vh;

      &-wrapper {
        width: calc(100%-16.5%);
        height: 100vh;
      }
    }
  }
}
