<template>
  <main class="dashboard">
    <mainTabs :currentRoute="$route.path">
      </mainTabs>
      <!-- <h1>val = {{$route.path}}</h1> -->
      <div class="md-layout md-gutter">
        <div class="md-layout-item md-size-50">
          <div class="dark-card">
            <div class="card-button">
              <md-button>View all responses</md-button>
            </div>
          </div>
        </div>
        <div class="md-layout-item md-size-25">
          <div class="dark-card">
            <div class="count-value">
              <h1>128</h1>
              <h5>Page Views</h5>
            </div>
            <div class="duration-select">
              <md-field>
                <md-select class="page-view-duration-select" v-model="pageViewsDuration">
                  <md-option value="1">Today</md-option>
                  <md-option value="7">This week</md-option>
                  <md-option value="30">This month</md-option>
                </md-select>
              </md-field>
            </div>
          </div>
        </div>
        <div class="md-layout-item md-size-25">
          <div class="dark-card">
            <div class="count-value">
              <h1>4</h1>
              <h5>Posts Live</h5>
            </div>
            <div class="duration-select">
              <md-field>
                <md-select class="page-view-duration-select" v-model="postCountDuration">
                  <md-option value="1">Today</md-option>
                  <md-option value="7">This week</md-option>
                  <md-option value="30">This month</md-option>
                </md-select>
              </md-field>
            </div>
          </div>
        </div>
      </div>
      <a href='/sport'>
        <md-button>
          publish article
        </md-button>
      </a>
  </main>
</template>

<script>
  import mainTabs from './../components/Tabs.vue';
  import {
    validationMixin
  } from 'vuelidate';
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators';
  
  
  import {
    mapState
  } from 'vuex'
  import Vue from 'vue';
  export default {
    mixins: [validationMixin],
    data: () => ({
      pageViewsDuration: '7',
      postCountDuration: '7',
    }),
    computed: {
      ...mapState([
        'email',
        'userType'
      ])
    },
    components: {
      mainTabs
    }
  }
</script>
