<template>
  <div class="post">
    
    <md-card>
      <form novalidate class="md-layout" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-100 md-small-size-100">
          
          <md-card-content>
            <div class="md-layout md-gutter">
              <div class="md-layout-item md-small-size-100">
                <md-field :class="getValidationClass('cover')">
                  <md-input name="first-name" type='file' id="cover" v-model="form.cover" :disabled="sending" />
                  <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                  <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
                </md-field>
              </div>
            </div>
            <quillEditor v-model="content" :options="editorOption" ref="myQuillEditor"></quillEditor>
          </md-card-content>

          <!-- <md-card-actions>
            <md-button type="submit" class="md-primary" :disabled="sending" @click="sendPost">Create user</md-button>
          </md-card-actions> -->
        </md-card>

        
      </form>
    </md-card>
    
  </div>
</template>

<script>
  import axios from 'axios';
  import jConfig from '@/configurator/post1';
  import {
    MdButton,
    MdCard,
    MdField
  } from "vue-material/dist/components";
  import 'quill/dist/quill.core.css'
  import 'quill/dist/quill.snow.css'
  import 'quill/dist/quill.bubble.css'

  
  import { quillEditor } from 'vue-quill-editor'
  import {quillRedefine} from 'vue-quill-editor-upload'
  Vue.use(MdCard);
  Vue.use(MdButton);
  Vue.use(MdField);

  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    maxLength
  } from 'vuelidate/lib/validators'
  export default {
    name: 'FormValidation',
    mixins: [validationMixin],
    components:{
      quillEditor,
      quillRedefine 
    },
    data: () => ({
      form: {
        firstName: null,
        lastName: null,
        
      },
      content: '',
      editorOption: {},
      userSaved: false,
      sending: false,
      lastUser: null,
      baseUrl: 'http://localhost:8000/api/user/post',
    }),
    validations: {
      form: {
        firstName: {
          required,
          minLength: minLength(3)
        },
        lastName: {
          required,
          minLength: minLength(3)
        },
      }
    },
    watch:{
      content:function(newVal,oldVal){
        console.log(newVal)
      }
    },
    created(){
      this.editorOption = quillRedefine(
        {
          uplpadConfig: {
            action: '',//url to store
            res: (respnse) => {
              return respnse.info
            },
            methods: 'POST',
            name: 'img',
            accept: 'image/png, image/gif, image/jpeg',
            change: (formData) => { 
            },
            start:()=>{
              console.log('started');
            },
            end:()=>{
              console.log('ended');
            },
            success:()=>{
              console.log('success');
            },
            error:()=>{
              console.log('error');
            },
            placeholder: '',  
            theme: '',  
            toolOptions: [],  
            handlers: {},  
          }
        })
    },
    methods: {
      sendPost() {
        // var postObj = {
        //   'content': {
        //     'FirstName': this.form.firstName,
        //     'LastName': this.form.lastName,
        //   },
        //   'config': jConfig
        // }
        // axios.post(this.baseUrl, postObj)
        // .then(response => {
        //   consol.log('yes sent');
        //   })
        // .catch(e => {
        //   this.errors.push(e)
        // })

      },
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm() {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
      },
      saveUser() {
        this.sending = true
      },
      validateUser() {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.saveUser()
        }
      }
    }
  }
</script>
<style >
.quill-editor{
  width:90%;
  height:50%;
}
</style>
