<template>
    <main class="schedule">
        <div class="md-layout md-gutter">
            <div class="md-layout-item md-size-100">
                <div class="dark-card">
                    <div class="schedule-container md-layout-item md-gutter md-size-50">
                        <div class="md-layout-item">
                            <div class="md-layout-item md-size-50">
                                <md-field>
                                    <label for="platform">Select a Platform</label>
                                    <md-select v-model="scheduleObject.platform" name="platform" id="platform">
                                        <md-option value="fight-club">Facebook</md-option>
                                        <md-option value="godfather">Instagram</md-option>
                                        <md-option value="godfather-ii">Twitter</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <md-field class="md-layout-item md-size-100">
                                <label>Add your caption</label>
                                <md-textarea v-model="scheduleObject.caption" md-autogrow></md-textarea>
                            </md-field>
    
                            <div class="test-class">
                                <datetime type="datetime" v-model="date" use12-hour></datetime>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import mainTabs from './../components/Tabs.vue';
    import {
        Datetime
    } from 'vue-datetime';
    import {
        mapState
    } from 'vuex'
    export default {
        data() {
            return {
                date: '',
                scheduleObject: {
                    platform: '',
                    caption: '',
                    // date: '',
                },
                // disabledDates: date => {
                //     const day = date.getDay()
                //     return day === -1
                // }
            }
        },
        methods: {
            isDateDisabled: function(date) {
                console.log(date)
            }
        },
        computed: {
            ...mapState([
                'email',
                'userType'
            ])
        },
        components: {
            mainTabs,
            Datetime,
        }
    }
</script>