<template>
  <main class="sport">
    <div class="md-gutter md-layout">
      <div class="md-layout-item md-large-size-20"><md-button class="md-primary" @click='sel("cricket")'>Cricket</md-button></div>
      <div class="md-layout-item md-large-size-20"><md-button class="md-primary" @click='sel("tennis")'>Tennis</md-button></div>
      <div class="md-layout-item md-large-size-20"><md-button class="md-primary" @click='sel("formula")'>Formula</md-button></div>
      <div class="md-layout-item md-large-size-20"><md-button class="md-primary" @click='sel("basketball")'>Basketball</md-button></div>
      <div class="md-layout-item md-large-size-20"><md-button class="md-primary" @click='sel("football")'>Football</md-button></div>
    </div>
  </main>
</template>
<script>
  import {
    MdButton,
    MdCard,
    MdField,
  } from "vue-material/dist/components";

  Vue.use(MdCard);
  Vue.use(MdButton);
  Vue.use(MdField);
  export default {
    methods: {
      sel(param) {
        this.$router.push({ path: "/post/" + param});
      },
    }
  }

</script>
