<template>
  <div class="page-container md-layout-column tool">
    <div class="cms-header-logo">
      <svg width="128px" height="50px" viewBox="0 0 128 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <polygon id="path-1" points="0 -0.0002 127.4868 -0.0002 127.4868 54.3183 0 54.3183"></polygon>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-4" transform="translate(0.000000, -2.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-1"></g>
                <text id="CMS" mask="url(#mask-2)" font-family="CartelSans-Regular, Cartel Sans" font-size="64.5396" font-weight="normal" fill="#167D7F">
                    <tspan x="13.0161" y="38.3183">CMS</tspan>
                </text>
                <path d="M4.9408,13.7866 L4.9408,14.9406 C4.9408,15.2186 4.7158,15.4426 4.4388,15.4426 L2.4298,15.4426 C2.1528,15.4426 1.9268,15.2156 1.9278,14.9386 C1.9288,14.5116 1.9308,14.8226 1.9338,14.1496 L5.5148,12.0856 L6.1028,11.7396 C6.1028,11.7396 6.1018,11.7396 6.1018,11.7386 C6.5348,11.5406 6.8358,11.1426 6.8398,10.6376 L6.8408,9.6896 L6.8408,7.1206 C6.8408,6.9056 6.7528,6.7106 6.6128,6.5686 C6.4718,6.4276 6.2768,6.3406 6.0608,6.3406 C5.0148,6.3406 3.9738,6.4836 2.9658,6.7656 L1.7318,7.1116 L1.2498,6.3406 L-0.0002,6.3406 L0.0278,16.0646 C0.0278,16.7656 0.5808,17.3366 1.2748,17.3636 C1.2748,17.3636 1.2758,17.3636 1.2758,17.3646 L5.5418,17.3646 C6.2588,17.3646 6.8408,16.7836 6.8408,16.0646 L6.8408,13.7866 L4.9408,13.7866 Z" id="Fill-2" fill="#167D7F" mask="url(#mask-2)"></path>
                <path d="M122.5468,13.7866 L122.5468,14.9406 C122.5468,15.2186 122.7718,15.4426 123.0488,15.4426 L125.0578,15.4426 C125.3348,15.4426 125.5608,15.2156 125.5598,14.9386 C125.5588,14.5116 125.5568,14.8226 125.5538,14.1496 L121.9728,12.0856 L121.3848,11.7396 C121.3848,11.7396 121.3858,11.7396 121.3858,11.7386 C120.9518,11.5406 120.6508,11.1426 120.6478,10.6376 L120.6468,9.6896 L120.6468,7.1206 C120.6468,6.9056 120.7348,6.7106 120.8748,6.5686 C121.0158,6.4276 121.2108,6.3406 121.4268,6.3406 C122.4728,6.3406 123.5138,6.4836 124.5218,6.7656 L125.7558,7.1116 L126.2378,6.3406 L127.4868,6.3406 L127.4598,16.0646 C127.4598,16.7656 126.9058,17.3366 126.2128,17.3636 C126.2128,17.3636 126.2118,17.3636 126.2118,17.3646 L121.9458,17.3646 C121.2288,17.3646 120.6468,16.7836 120.6468,16.0646 L120.6468,13.7866 L122.5468,13.7866 Z" id="Fill-3" fill="#167D7F" mask="url(#mask-2)"></path>
            </g>
        </g>
    </svg>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import {
    MdButton,
    MdCard,
    MdField,
    MdToolbar,
    MdDrawer,
    MdList,
    MdTooltip,
    MdTabs
  } from 'vue-material/dist/components'
  
  Vue.use(MdCard)
  Vue.use(MdButton)
  Vue.use(MdToolbar)
  Vue.use(MdDrawer)
  Vue.use(MdList)
  Vue.use(MdTooltip)
  Vue.use(MdTabs)
  
  export default {
    data: () => ({
      showNavigation: false,
      showSidepanel: false,
      isMobile: '',
    }),
    mounted() {
      if ((navigator.userAgent.match(/Android/i) ||
          navigator.userAgent.match(/webOS/i) ||
          navigator.userAgent.match(/iPhone/i) ||
          navigator.userAgent.match(/iPad/i) ||
          navigator.userAgent.match(/iPod/i) ||
          navigator.userAgent.match(/BlackBerry/i) ||
          navigator.userAgent.match(/Windows Phone/i))) {
        this.isMobile = true;
      }
    }
  }
</script>
