<template>
    <main>
        <ul class="tabs">
            <li v-for="tab in tabList" :key="tab.id" :class="{ 'active' : tab.path == currentRoute}">
                <a :href="tab.path">{{tab.title}}</a>
            </li>
        </ul>
    </main>
</template>


<script>
export default {    
    props: ['currentRoute'],
    data(){
        return{
            tabList: [
                {   
                    id: 0,
                    title: 'Dashboard',
                    path: '/dashboard'
                },
                {   
                    id: 1,
                    title: 'Schedule Posts',
                    path: '/schedule'
                },
                {   
                    id: 2,
                    title: 'Page Buckets',
                    path: '/buckets'
                },
                {   
                    id: 3,
                    title: 'Articles',
                    path: '/articles'
                }
            ]
        }
    }

}
</script>