<template>
  <div id="app">
    <div id="show">
      <Header v-if="this.$route.meta.show"></Header>
      <router-view></router-view>
    </div>
    <div id="dont" style="display:none">
      <h1>Please revert back to portrait mode!</h1>
    </div>
  </div>
</template>

<script>
  import './styles/styles.scss';
  import "./icons/css/budicon.scss";
  import Header from "./components/Header";
  export default {
    name: 'App',
    components:{
      Header
    },
    mounted() {
      window.addEventListener("orientationchange", function () {
        if ((window.innerHeight > window.innerWidth) && (navigator.userAgent.match(/Android/i)
          || navigator.userAgent.match(/webOS/i)
          || navigator.userAgent.match(/iPhone/i)
          || navigator.userAgent.match(/iPad/i)
          || navigator.userAgent.match(/iPod/i)
          || navigator.userAgent.match(/BlackBerry/i)
          || navigator.userAgent.match(/Windows Phone/i))) {
          document.querySelector('#show').style.display = "none";
          document.querySelector('#dont').style.display = "block";
        }
        else {
          document.querySelector('#show').style.display = "block";
          document.querySelector('#dont').style.display = "none";
        }
          
      }, false);

    },
  }
</script>

<style>

  #app{
    height:100%;
  }
  #dont{
    background:url(assets/landscape.jpg);
    background-size:cover;
    width:100vw;
    height:100vh;
    text-align:center;
  }
  h1{
    margin:0 !important;
    position:relative;
    top:10%;
  }
</style>
